#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce > #backgroundBox {
  position: absolute;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-BgWhite {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-BgWhite {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-BgWhite > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-BgWhite .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-BgWhite .valign {
  vertical-align: middle;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-BgWhite span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-BgWhite span#rtr-s-BgWhite_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Softkeys-bg {
  position: absolute;
  width: 100.0%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Softkeys-bg {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Softkeys-bg > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Softkeys-bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Square {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Square {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Circle {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Circle {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Triangle {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Triangle {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Black-cover {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  opacity: 0.24;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Black-cover {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Black-cover > .backgroundLayer > .colorLayer {
  background-color: #303030;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Black-cover .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Black-cover .valign {
  vertical-align: middle;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Black-cover span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Black-cover span#rtr-s-Black-cover_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-side-drawer-dialog {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_7 {
  width: 305.0px;
  height: 100.0%;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_7 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_7 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_7 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_7 .verticalalign {
  vertical-align: top;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Rectangle_115 {
  position: absolute;
  width: 306.0px;
  min-height: 175.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Rectangle_115 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Rectangle_115 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Rectangle_115 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Rectangle_115 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Rectangle_115 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Rectangle_115 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Rectangle_115 span#rtr-s-Rectangle_115_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Ellipse_1 {
  width: 50.0px;
  height: 50.0px;
  min-height: 50.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Ellipse_1 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #shapewrapper-s-Ellipse_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-drop-down {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-drop-down {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Label_55 {
  position: absolute;
  width: 237.0px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Label_55 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Label_55 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Label_55 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Label_55 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Label_55 span#rtr-s-Label_55_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg_status_1 {
  position: absolute;
  width: 100.0%;
  min-height: 20.0px;
  opacity: 0.15;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg_status_1 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg_status_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg_status_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg_status_1 .valign {
  vertical-align: middle;
  text-align: right;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg_status_1 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg_status_1 span#rtr-s-Bg_status_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}

 div.relativeLayoutWrapper.s-side-drawer-header_1 {
  transform: translate(-0.0px, -0.0px);
  width: 306.0px;
  height: 175.0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_27 {
  width: 306.0px;
  min-height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_27 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_27 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_27 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_27 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_27 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_27 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 100px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_27 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_27 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 26px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_27 span#rtr-s-Two-line-item_27_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Dynamic_Panel_6 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_6 {
  width: 306.0px;
  height: 42.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_6 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_6 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_6 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_6 .verticalalign {
  vertical-align: top;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_12 {
  position: absolute;
  width: 306.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_12 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_12 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 26px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_12 span#rtr-s-Two-line-item_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_12 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_12 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Dynamic_Panel_5 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_5 {
  width: 306.0px;
  height: 43.99999999999994px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_5 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_5 .verticalalign {
  vertical-align: top;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_23 {
  position: absolute;
  width: 306.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_23 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_23 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_23 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_23 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_23 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_23 span#rtr-s-Two-line-item_23_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_14 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_14 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Dynamic_Panel_4 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_4 {
  width: 306.0px;
  height: 46.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_4 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_4 .verticalalign {
  vertical-align: top;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_34 {
  position: absolute;
  width: 306.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_34 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_34 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_34 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_34 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_34 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_34 span#rtr-s-Two-line-item_34_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_70 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_70 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Dynamic_Panel_3 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_3 {
  width: 306.00000000000006px;
  height: 44.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_3 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_3 .verticalalign {
  vertical-align: top;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_92 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_92 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_24 {
  position: absolute;
  width: 283.00000000000006px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_24 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_24 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_24 > .borderLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_24 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_24 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 65px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_24 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_24 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_24 span#rtr-s-Two-line-item_24_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Dynamic_Panel_2 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_2 {
  width: 305.99999999999994px;
  height: 49.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_2 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_2 .verticalalign {
  vertical-align: top;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_36 {
  position: absolute;
  width: 306.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_36 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_36 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_36 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_36 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_36 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_36 span#rtr-s-Two-line-item_36_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_22 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_22 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_41 {
  width: 306.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_41 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_41 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_41 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_41 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 100px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_41 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_41 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 26px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_41 span#rtr-s-Two-line-item_41_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_42 {
  width: 306.0px;
  min-height: 13.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_42 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_42 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_42 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_42 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_42 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_42 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 100px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_42 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_42 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 26px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_42 span#rtr-s-Two-line-item_42_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Dynamic_Panel_1 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_1 {
  width: 305.99999999999994px;
  height: 44.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_1 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_35 {
  position: absolute;
  width: 306.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_35 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_35 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_35 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_35 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_35 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 26px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Two-line-item_35 span#rtr-s-Two-line-item_35_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_97 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_97 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg {
  position: absolute;
  width: 100.0%;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-3.0px -0.0px 2.0px #A0A0A0);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg {
  box-shadow: -3.0px -0.0px 4px 0px #A0A0A0;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #924300;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg .paddingLayer:first-child {
  padding-top: 38px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-menu {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-menu {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg_status {
  position: absolute;
  width: 100.0%;
  min-height: 20.0px;
  opacity: 0.15;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg_status {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg_status > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg_status .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-hour {
  position: absolute;
  width: 46.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-hour {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-hour .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-hour span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-hour span#rtr-s-hour_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-signals {
  position: absolute;
  width: 61.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-signals {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Paragraph_1 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Category_2 {
  position: absolute;
  width: 265.0000000000001px;
  height: 83.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Category_2 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Category_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Category_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Category_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_33 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_33 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Confirm-dialog {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Content_panel {
  width: 78.05556%;
  height: 270.0px;
  filter: drop-shadow(-0.0px 7.0px 12.5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Content_panel {
  box-shadow: -0.0px 7.0px 25px 0px #999999;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Content_panel > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Content_panel td.layout {
  padding: 0px 0px 0px 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Content_panel > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Content_panel .verticalalign {
  vertical-align: top;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Text_1 {
  position: absolute;
  width: 114.0px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Text_1 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Text_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Text_1 span#rtr-s-Text_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Button_11 {
  position: absolute;
  width: 80.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Button_11 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Button_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Button_11 span {
  color: #FFC100;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Button_11 span#rtr-s-Button_11_0 {
  color: #FFC100;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Button_12 {
  position: absolute;
  width: 80.0px;
  min-height: 29.0px;
  opacity: 0.35;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Button_12 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Button_12 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Button_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Button_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Button_12 span#rtr-s-Button_12_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Paragraph_2 {
  position: absolute;
  width: 243.0px;
  min-height: 115.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Paragraph_2 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Paragraph_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_34 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_34 {
  box-shadow: none;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_35 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0deeb7ca-8b29-4014-9422-aeec10ee10ce #s-Image_35 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-0deeb7ca-8b29-4014-9422-aeec10ee10ce > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
