#s-bf884546-683d-416c-95d2-254b37a22212 > #backgroundBox {
  position: absolute;
}

#s-bf884546-683d-416c-95d2-254b37a22212 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_1 {
  position: absolute;
  width: 115.0px;
  min-height: 32.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_1 {
  box-shadow: none;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_2 {
  position: absolute;
  width: 124.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_2 {
  box-shadow: none;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Bg {
  position: absolute;
  width: 100.0%;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-3.0px -0.0px 2.0px #A0A0A0);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-bf884546-683d-416c-95d2-254b37a22212 #s-Bg {
  box-shadow: -3.0px -0.0px 4px 0px #A0A0A0;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #924300;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Bg .paddingLayer:first-child {
  padding-top: 38px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_1 {
  box-shadow: none;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_2 {
  box-shadow: none;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_1 {
  position: absolute;
  width: 174.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_1 {
  box-shadow: none;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_1 .valign {
  vertical-align: middle;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_2 {
  position: absolute;
  width: 174.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_2 {
  box-shadow: none;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_2 .valign {
  vertical-align: middle;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_4 {
  box-shadow: none;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bf884546-683d-416c-95d2-254b37a22212 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-bf884546-683d-416c-95d2-254b37a22212 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
